
<div class="navbar-brand">
    <a class="navbar-item" href="/kompakblogs/index.html">
        <img src="/kompakblogs/images/logo.png" alt="kodekompak">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
</div>

<div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
        <a class="navbar-item mono" href="/kompakblogs/index.html?page=article">
            Article
        </a>
        <a class="navbar-item mono" href="/kompakblogs/index.html?page=tutorial">
            Tutorial
        </a>
        <a class="navbar-item mono" href="/kompakblogs/index.html?page=event">
            Event
        </a>
        <a class="navbar-item mono" href="/kompakblogs/contents//article/about.html">
            About
        </a>
    </div>
</div>
